/*TEXT*/
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|News+Cycle:400,700|Ultra');


body{	background: #002934;
	font-family: 'Roboto', sans-serif; 
	font-weight: 400;
	text-align:center;
	color: #93a1a1;
	}

p{	text-align: left; 
	}
.wow{	font-weight:bold;
}

.caption{
	text-align:center;
	font-size:0.8em;
	font-style:italic;
}
.math{	text-align:center;
	color: #cb4b16;
}

h1{	font-family: 'Economica', sans-serif; 
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 700;
	text-align:center;
	color:#859900;
	margin-bottom:1%;
	}

h2{	font-family: 'News Cycle', sans-serif; 
	text-transform: uppercase;
	font-size: 2em;
	text-align: center; 
	margin-top: 0;
	color: #dc322f;
	}
h3{	font-family: 'News Cycle', sans-serif; 
	text-transform: uppercase;
	font-size: 1.5em;
	margin-top: 0;
	color: #cb4b16;
	}
#divide{padding:2em;}

/* body links*/
a:link {
	color: #d33682;
	font-weight: 400; 
	text-decoration: none; 
	}

a:visited{
	color:#cb4b16;
	font-weight: 400; 
	text-decoration: none;
	}

a:hover { 
	color: #93a1a1; 
	text-decoration: none; 
	}

a img {
	border:none;}

/*title link*/
a.title{
	color: #d33682;
	font-weight: bold; 
	text-decoration: none; 
	}
a.title:hover{
	color: #93a1a1;
	font-weight: bold; 
	text-decoration: none; 
	}
a.menu{
	color: #d33682;
	font-weight: bold; 
	text-decoration: none; 
	}
a.menu:hover{
	color: #93a1a1;
	font-weight: bold; 
	text-decoration: none; 
	}
a.tooltip{
	font-weight:normal;
	color:#dc322f;
}
/*Lists*/
ul{	margin-top:0.5em;
	list-style: ">>  ";
}
dt{	float:left;
}
/*Tooltips*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;target="_blank" rel="noopener noreferrer"
    border-bottom: 1px dotted; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .ttt {
    visibility: hidden;
    width: 20em;
    bottom: 100%;
    left: 50%;
    margin-left: -10em;
    background-color: #073642;
    color: #93a1a1;
    text-align: center;
    padding: 5px;
    border:1px solid #93a1a1;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 3px 3px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .ttt {
    visibility: visible;
}
</style>

/*LAYOUT*/

* {
    box-sizing: border-box;
}
#col-title {
	width: 100%;
	float: left;
	margin-top:-3%;
}
#col-date {
	width: 100%;
	float: left;
	margin-left:0%;
	margin-top:3%;
	margin-bottom:1%;
	background-color: #859900;
	font-family: 'Economica', sans-serif; 
	text-transform: uppercase;
	font-weight:700;
	font-size: 2em;
	text-align: left; 
	color: #002934;
}
#col-main {
	float: left;
	text-align:center;
	width:75%;
	margin-left:12%;
	
}
[class*='col-'] {
	float: left;
	padding-right: 20px;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}
[class*='col-']:last-of-type {
	padding-right: 0;
}
/* Media */
iframe{
	padding-bottom:5em;
	width: 100%;
	float:left;
	height: 30vw;
}
img {
	width:50%;
	margin-left: 25%;
}
#button{
	border: 1px solid #d33682;
	text-align:center;
	color: #859900;
	font-family: 'Uni Sans Demo Heavy Caps', sans-serif; 
	font-weight: 700;
	padding:2%;
	margin-top:1em;
	float: left;
	width:100%;
}
